/*CSS RESET*/

html {
	box-sizing: border-box;
	font-size: 16px;
	/*Default fontsize. Can now use rem units if I want.*/
}
*, *:before, *:after {
	box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
}
/*END RESET*/

/*Root. Stuff that needs to be here in order for variables to work*/

:root {
	--main-background-colour: beige;
	--main-block-colour: red;
	--main-font-colour: black;
	--block-accent-colour: grey;
	--block-accent-alt-colour: coral;
}
/*Main Content*/

.wowslider {
	margin-top: 10px;
}
html {
	background-color: var(--main-background-colour);
}
body {
	width: 100%;
	background-color: var(--main-background-colour);
}
.content_main {
	margin: auto;
	color: var(--main-font-colour);
	font-size: medium;
	text-align: justify;
	padding: auto;
	margin-bottom: 50px;
	background-color: var(--main-background-colour);
}
.content_main p {
	text-align: left;
}
h1 {
	text-align: center;
	font-weight: bold;
	font-size: 25px;
}
/*Nav Bar*/

nav {
	width: 100%;
	display: block;
	overflow: hidden;
	background-color: var(--main-block-colour);
}
nav a {
	text-decoration: none;
}
nav a:hover {
	text-decoration: none;
}
/*Desktop Nav*/

nav {
	width: 100%;
	display: block;
	background-color:  var(--main-block-colour);
	color: var(--block_txt_color);
	overflow: hidden;
}

nav a {
	color: var(--block_txt_color);
	text-decoration: none;
}

nav a:hover {
	color: var(--block_txt_color);
	background-color: var(--block-accent-alt-colour);
	text-decoration: none;
}

/*--- Desktop ---*/

nav .nav_desktop {
	height: 100px;
}

nav .nav_desktop img {
	height: 70px;
	margin: 20px 0 0 auto;
}

nav .nav_desktop a {
	float: right;
	padding: 15px 10px;
    font-size: 20px;
	margin-top: 23.5px;
	color: var(--block_accent_txt_color);
	background-color: var(--block-accent-colour);
	font-weight: bold;
}
nav .nav_desktop a:hover {
	color: var(--block_txt_color);
	background-color: var(--block-accent-colour);
}

nav .nav_desktop a:last-of-type {
	border-radius: 8px 0 0 8px;
}

nav .nav_desktop a:first-of-type {
	border-radius: 0 8px 8px 0;
}

/*--- Mobile ---*/

nav .nav_mobile {
	height: 48px;
}
nav .nav_mobile #mobile_links {
    display: none;
}

nav .nav_mobile a {
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
	background-color: var(--main-block-colour);
	margin: 0;
	font-weight: bold;
}

nav .nav_mobile #mobile_links a:first-of-type {
	margin-top: 5px;
}
nav .nav_mobile #mobile_links a:hover {
	color: var(--block_txt_color);
	background-color: var(--block-accent-colour);
}

nav .nav_mobile #mobile_links {
	position: absolute;
	top: 48px;
	width: 100%;
	height: auto;
	margin: 0;
	background-color: var(--block-accent-colour);
}
nav .nav_mobile a.icon:hover + #mobile_links {
	background-color: var(--block-accent-colour);
}

nav .nav_mobile a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
	color: var(--block_accent_txt_color);
	background-color: var(--block-accent-colour);
}
nav .nav_mobile a.icon:hover {
	color: var(--block_txt_color);
	background-color: var(--block-accent-colour);
}
nav .nav_mobile a:hover {
	background-color: var(--block-accent-colour)
}
nav .nav_mobile img {
    height: 33px;
    width: auto;
    padding: 8px;
    margin-left: 5px;
}

.spacer {
	display: block;
	width: 100%;
	height: 20px;
}

/*--Footer--*/

footer {
	background-color: var(--main-block-colour);
	color: var(--main-font-colour) width: 80%;
	display: block;
	min-height: 100px;
	margin-left: auto;
	margin-right: auto;
}
footer p {
	text-align: center;
}
footer a {
	color: var(--main-font-colour);
	font-weight: 550;
	text-decoration: none;
}
footer a:hover {
	color: var(--block-accent-colour)
}
footer .footer_content {
	display: block;
	margin: 0 auto;
	padding: 10px 0 30px;
	height: auto;
	text-align: center;
}
/*-- Tablets --*/
@media only screen and (min-width: 200px) {
	.nav_desktop {
		display: none;
	}
}

@media only screen and (min-width: 600px) {
	.content_main {
		width: 75%;
	}
	.nav_desktop {
		display: none;
	}
}
/*-- Laptop & Desktop --*/

@media only screen and (min-width: 768px) {
	.content_main {
		width: 60%;
	}
	h1 {
		font-size: 35px;
	}
}
@media only screen and (min-width: 900px) {
	.nav_mobile {
		display: none;
	}
	.nav_desktop {
		display: block;
		width: 60%;
		margin-left: 20%;
	}
}
