/*CSS RESET*/

html {
	box-sizing: border-box;
	font-size: 16px;
	/*Default fontsize. Can now use rem units if I want.*/
}
*, *:before, *:after {
	box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
}
/*END RESET*/

/*Root. Stuff that needs to be here in order for variables to work*/
:root {
	--main-background-colour: beige;
}
/*Main Content*/
.wowslider{
  margin-top: 10px;
}
body {
	width: 100%;
	margin: auto;
	background-color: var(--main-background-colour);
}
.content_main {
	margin: auto;
	color: black;
	font-size: medium;
	text-align: justify;
	padding: auto, auto, 0px, auto;
}
.content_main p {
	text-align: left;
}
h1 {
	text-align: center;
	font-weight: bold;
}
/*Nav Bar*/

nav {
	width: 100%;
	display: block;
	overflow: hidden;
}
nav a {
	text-decoration: none;
}
nav a:hover {
	text-decoration: none;
}
/*Desktop Nav*/

nav .nav_desktop {
	height: 100px;
}
nav .nav_desktop img {
	height: 70px;
	margin: 20px 0 0 auto;
}
nav .nav_desktop a {
	float: right;
	padding: 15px 10px;
	font-size: 20px;
	margin-top: 23.5px;
	font-weight: bold;
}
nav .nav_desktop a:hover {}
nav .nav_desktop a:last-of-type {
	border-radius: 8px 0 0 8px;
}
nav .nav_desktop a:first-of-type {
	border-radius: 0 8px 8px 0;
}
/*Mobile Nav*/

nav .nav_mobile {
	height: 48px;
}
nav .nav_mobile #mobile_links {
	display: none;
}
nav .nav_mobile a {
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
	margin: 0;
	font-weight: bold;
}
nav .nav_mobile #mobile_links a:first-of-type {
	margin-top: 5px;
}
nav .nav_mobile #mobile_links a:hover {}
nav .nav_mobile #mobile_links {
	position: absolute;
	top: 48px;
	width: 100%;
	height: auto;
	margin: 0;
}
nav .nav_mobile a.icon:hover+#mobile_links {}
nav .nav_mobile a.icon {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}
nav .nav_mobile a.icon:hover {}
nav .nav_mobile img {
	height: 33px;
	width: auto;
	padding: 8px;
	margin-left: 5px;
}
.spacer {
	display: block;
	width: 100%;
	height: 20px;
}
.main_content, .footer_content, .footer_about {
	width: 90%;
}
.nav_mobile {
	display: block;
}
.nav_desktop {
	display: none;
}
h1 {
	font-size: 25px;
}
/*--Footer--*/
footer {
	background-color: black;
	color: white;
	width: 80%;
	display: block;
	min-height: 100px;
	margin-left: auto;
	margin-right: auto;
}
footer p {
	text-align: center;
}
footer a {
	color: var(--block_txt_color);
	font-weight: 550;
	text-decoration: none;
}
footer a:hover {
	color: var(--block_accent_color)
}

footer .footer_content {
	display: block;
	margin: 0 auto;
	padding: 10px 0 30px;
	height: auto;
	text-align: center;
}

/*-- Tablets --*/

@media only screen and (min-width: 600px) {
	.content_main {
		width: 75%;
	}
}
/*-- Laptop & Desktop --*/

@media only screen and (min-width: 768px) {
	.content_main {
		width: 60%;
	}
	h1 {
		font-size: 35px;
	}
}
@media only screen and (min-width: 900px) {
  .nav_mobile {
      display: none;
  }
  .nav_desktop {
      display: block;
  width: 60%;
  margin-left: 20%;
  }